:root {
  --ThemeColorOne: #000033;
  --ThemeColorTwo: #5f3dc4;
  --ThemeColorThree: #fff;
}
* {
  margin: 0;
  padding: 0;
}
html, body {
  background-color: var(--ThemeColorOne);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
a,p{
  color: var(--ThemeColorThree);
}